#cursor {
  --size: 20px;
  --calculated-size: calc(var(--size) * var(--multiplier));
  position: fixed;
  top: 0;
  left: 0;
  height: var(--calculated-size);
  width: var(--calculated-size);
  background-color: #000;
  border-radius: 50%;
  transform: translate3d(calc(100vw * var(--cursor-x) - var(--calculated-size) / 2),
      calc(100vh * var(--cursor-y) - var(--calculated-size) / 2),
      0);
  pointer-events: none;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  z-index: 999;
}

.word {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  padding: 1px;
  display: inline-block;
}

[data-splitting] {
  flex-direction: column;
}

[data-splitting]>.word>span {
  display: inline-block;
  transform: translateY(100%);
}


@media only screen and (max-width: 768px) {
  #cursor {
    display: none;
  }
}

header {
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  gap: $space-3xs;
  justify-content: space-between;
  text-wrap: balance;
  margin-bottom: $space-l;
}

nav {
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: $mediaMaxWidth;
  margin: auto;
  padding: 1rem;
  background-color: $bgColor;

  @media only screen and (max-width: 768px) {
    border: 1px solid gray;
  }
}

.hero {
  opacity: 0;
  letter-spacing: -3px;

  .left {
    #text1 {
      margin-left: $space-xl-2xl;

      @media (max-width: 320px) {
        // Adjust the breakpoint as needed
        margin-left: 0;
      }
    }

    line-height: 1.2;
    font-size: $step-4;
    text-align: left;
  }

  .right {
    line-height: 1.2;
    font-size: $step-4;
    text-align: right;
  }
}

.about {
  opacity: 0;
  margin-top: $space-xl;
  margin-bottom: $space-xl;
  margin-left: $space-xl-2xl;

  display: flex;
  gap: $space-3xl;
  justify-content: space-between;

  img {
    pointer-events: none;
    width: 100%;
    max-width: min(500px, 80vw);
    object-fit: cover;
    display: block;
    height: auto;
  }

  @media only screen and (max-width: $mediaMaxWidth) {
    flex-direction: column;
    gap: $space-2xl;
  }


  .about-me {
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
    gap: $space-xs;
  }


  p {
    max-width: min(700px, 80vw);
    text-align: justify;
  }
}
