#cursor {
    --size: 20px;
    --calculated-size: calc(var(--size) * var(--multiplier));
    position: fixed;
    top: 0;
    left: 0;
    height: var(--calculated-size);
    width: var(--calculated-size);
    background-color: #000;
    border-radius: 50%;
    transform: translate3d(calc(100vw * var(--cursor-x) - var(--calculated-size) / 2),
            calc(100vh * var(--cursor-y) - var(--calculated-size) / 2),
            0);
    pointer-events: none;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}
}


@media only screen and (max-width: 768px) {
    #cursor {
        display: none;
    }
}

header {
    display: flex;
    flex-wrap: wrap;
    gap: $space-3xs;
    justify-content: space-between;
    margin-bottom: $space-l;
}

.hero {
    letter-spacing: -3px;

    .left {
        span {
            margin-left: $space-xl-2xl;
        }

        font-size: $step-4;
        text-align: left;
    }

    .right {
        font-size: $step-4;
        text-align: right;
    }

}

.content {
    margin-top: $space-l;
    margin-left: $space-xl-2xl;

    p {
        max-width: min(700px, 80vw);
        text-align: justify;
        white-space: pre-wrap;
    }
}
