main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
// Navigation

.navbar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  .logo {
    @include fluid-type(320px, 1440px, 16px, 32px);
    font-weight: bold;

    @media (max-width: 768px) {
      display: none;
    }
  }
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    @media (max-width: 768px) {
      flex-grow: 1;
      justify-content: center;
    }
  }
}

.footer {
  margin-top: 2rem;
  padding: 1rem 0;
  @media (max-width: 768px) {
    padding: 1rem 0.5rem;
  }
  ul {
    font-family: monospace;
    display: grid;
    .footer__title {
      padding-left: 1rem;
      @media (max-width: 768px) {
        padding-left: 0;
        grid-column: span 10;
      }
      grid-column: span 3;
    }
    .footer__designed {
      grid-column: span 4;
      @media (max-width: 768px) {
        grid-column: span 10;
      }
    }
    .footer__back {
      grid-column: span 3;
      justify-self: end;
      @media (max-width: 768px) {
        grid-column: span 10;
        margin-top: 1rem;
      }
    }
    grid-template-columns: repeat(10, 1fr);
    justify-content: space-between;
  }
}

// Hero section

.hero {
  text-align: center;
  text-wrap: nowrap;

  h1 {
    @include fluid-type(320px, 1440px, 32px, 89px);
    font-weight: bold;
    line-height: 1.2;
    margin-top: 0;
  }

  h2 {
    font-size: 1rem;
    font-family: monospace;

    @media (min-width: 768px) {
      transform: translateY(-50%);
    }
  }
}

//photo section

.photo {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid black;
    aspect-ratio: 3/4;
  }
  max-width: 40vw;
  margin: 0 auto;
  @media (max-width: 768px) {
    max-width: 80vw;
  }
}

//Work section

.work {
  .work__header {
    margin-bottom: 1rem;
    padding-left: 1rem;
    @media (max-width: 768px) {
      padding-left: 8px;
    }
    .work__title {
      display: inline-block;
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 8px;
    }
    .work__subtitle {
      font-family: monospace;
    }
  }

  .projects-list {
    @media (max-width: 768px) {
      padding: 4px 0.5rem;
    }
    * {
      padding: 4px 0;
    }
    li {
      border-bottom: 1px solid black;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      justify-content: space-between;
    }
    .project__type {
      @media (max-width: 768px) {
        display: none;
      }
    }
    * {
      font-family: monospace;
    }
    h4 {
      grid-column: span 3;
      padding-left: 1rem;
      @media (max-width: 768px) {
        padding-left: 0;
      }
    }
    .project__role {
      grid-column: span 4;
      @media (max-width: 768px) {
        text-align: end;
        padding-right: 0;
        grid-column: span 7;
      }
    }
    .project__type {
      grid-column: span 2;
      @media (max-width: 468px) {
        grid-column: span 4;
      }
    }
    .project__year {
      justify-self: end;
      padding-right: 1rem;
      grid-column: span 1;
      @media (max-width: 768px) {
        padding-right: 0;
        justify-self: start;
        grid-column: span 1;
      }
    }
  }
}

//about section

.about {
  .about__header {
    padding-left: 1rem;
    @media (max-width: 768px) {
      padding-left: 0.5rem;
    }
    margin-bottom: 1rem;
    .about__title {
      display: inline-block;
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 8px;
    }
    .about__subtitle {
      font-family: monospace;
    }
  }
  .about__body {
    @media (max-width: 768px) {
      padding: 4px 0.5rem;
    }
    margin-bottom: 1rem;
    display: grid;
    gap: 24px 0;
    grid-template-columns: repeat(10, 1fr);
    justify-items: space-between;
    .about__text {
      padding-left: 1rem;
      line-height: 1.5;
      grid-column: span 3;
      @media (max-width: 768px) {
        padding-left: 0rem;
        grid-column: span 10;
        order: 2;
      }
      text-align: justify;
      width: 100%;
    }
    .about__blank {
      grid-column: span 4;
    }
    .about__roles {
      text-wrap: nowrap;
      @media (max-width: 768px) {
        grid-column: span 10;
        justify-self: start;
        order: 1;
      }
      ul {
        li {
          display: flex;
          justify-content: space-between;
        }
        font-family: monospace;
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
  }
}

.contact {
  padding: 1rem 0;
  @media (max-width: 768px) {
    padding: 1rem 0.5rem;
  }
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  .contact__header {
    grid-column: span 3;
    padding-left: 1rem;
    @media (max-width: 768px) {
      padding-left: 0;
      grid-column: span 10;
    }
    margin-bottom: 1rem;
    .contact__title {
      display: inline-block;
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 8px;
    }
    .contact__subtitle {
      font-family: monospace;
    }
  }

  .contact__socials {
    grid-column: span 4;
    ul {
      display: flex;
      gap: 1rem;
      li {
        text-wrap: nowrap;
        font-family: monospace;
      }
    }
  }
}
