body {
    background-color: $bgColor;
    max-width: $mediaMaxWidth;
    margin: auto;
    font-family: Inter, sans-serif;
    padding: 1rem;
    opacity: 0;
    animation: fadeIn 0.1s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
