/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1260,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

$mediaMaxWidth: 1260px;
$bgColor: #F0F1EF;

$step--2: clamp(0.7035rem, 0.8077rem + -0.1324vi, 0.7813rem);
$step--1: clamp(0.9375rem, 0.9374rem + 0.0004vi, 0.9377rem);
$step-0: clamp(1.125rem, 1.0824rem + 0.2128vi, 1.25rem);
$step-1: clamp(1.35rem, 1.2423rem + 0.5383vi, 1.6663rem);
$step-2: clamp(1.62rem, 1.4154rem + 1.0232vi, 2.2211rem);
$step-3: clamp(1.944rem, 1.5979rem + 1.7306vi, 2.9607rem);
$step-4: clamp(2.3328rem, 1.7834rem + 2.747vi, 3.9467rem);
$step-5: clamp(2.7994rem, 1.9614rem + 4.1899vi, 5.2609rem);

$space-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
$space-2xs: clamp(0.5625rem, 0.5412rem + 0.1064vi, 0.625rem);
$space-xs: clamp(0.875rem, 0.8537rem + 0.1064vi, 0.9375rem);
$space-s: clamp(1.125rem, 1.0824rem + 0.2128vi, 1.25rem);
$space-m: clamp(1.6875rem, 1.6237rem + 0.3191vi, 1.875rem);
$space-l: clamp(2.25rem, 2.1649rem + 0.4255vi, 2.5rem);
$space-xl: clamp(3.375rem, 3.2473rem + 0.6383vi, 3.75rem);
$space-2xl: clamp(4.5rem, 4.3298rem + 0.8511vi, 5rem);
$space-3xl: clamp(6.75rem, 6.4947rem + 1.2766vi, 7.5rem);

/* One-up pairs */
$space-3xs-2xs: clamp(0.3125rem, 0.2061rem + 0.5319vi, 0.625rem);
$space-2xs-xs: clamp(0.5625rem, 0.4348rem + 0.6383vi, 0.9375rem);
$space-xs-s: clamp(0.875rem, 0.7473rem + 0.6383vi, 1.25rem);
$space-s-m: clamp(1.125rem, 0.8697rem + 1.2766vi, 1.875rem);
$space-m-l: clamp(1.6875rem, 1.4109rem + 1.383vi, 2.5rem);
$space-l-xl: clamp(2.25rem, 1.7394rem + 2.5532vi, 3.75rem);
$space-xl-2xl: clamp(3.375rem, 2.8218rem + 2.766vi, 5rem);
$space-2xl-3xl: clamp(4.5rem, 3.4787rem + 5.1064vi, 7.5rem);

/* Custom pairs */
$space-s-l: clamp(1.125rem, 0.6569rem + 2.3404vi, 2.5rem);
