---
layout: layouts/base.njk
title: Marish Lucas | Web developer, Designer, Photographer
---

<main>
    <section class="hero">
      <div class="left">
        <span data-splitting data-cursor>
          Crafting creative
        </span><br>
        <span data-splitting data-cursor id="text1">
          digital solutions
        </span>
      </div>
      <div class="right">
        <span data-splitting data-cursor>
          for individualistic
        </span><br>
        <span data-splitting data-cursor>
          agencies and individuals
        </span>
      </div>
  </section>
    <section class="content">
        <span>[ about me ]</span>
        <p data-cursor>
As a professional web developer, designer, and photographer, I thrive on bringing unique digital visions to life. I believe that in today's digital landscape, standing out is no longer an option but a necessity. That's why I dedicate my skills to individuals and agencies who crave something different, those who are not afraid to step outside convention.

Whether it’s crafting a unique, user-friendly website that perfectly encapsulates your business ethos, or taking the perfect shot that tells the story of your brand, I work diligently and passionately on every project. My specialty is in breaking away from cookie-cutter web designs, allowing your digital platform to be as distinct and individual as you. 

If you are ready to step outside convention and leave a lasting impression, I am here to assist you. Together, we can create something remarkable that showcases your brand's uniqueness and helps you stand out from the competition. Let's collaborate and make your digital vision a reality!
    </p>
    </section>
</main>
