---
layout: layouts/base.njk
title: Marish Lucas | Web developer, Designer, Photographer
eleventyNavigation:
  key: about
---

<main>
  {% include "partials/hero.njk" %}
  {% include "partials/work.njk" %}
  {% include "partials/about.njk" %}
  {% include "partials/contact.njk" %}
</main>
