---
layout: layouts/base.njk
title: Marish Lucas | Web developer, Designer, Photographer
---

<main>
    <section class="hero">
      <div class="left">
        <span data-splitting data-cursor>
          Crafting creative
        </span><br>
        <span data-splitting data-cursor id="text1">
          digital solutions
        </span>
      </div>
      <div class="right">
        <span data-splitting data-cursor>
          for individualistic
        </span><br>
        <span data-splitting data-cursor>
          agencies and individuals
        </span>
      </div>
      <p data-cursor>
        {% markdown %}
        {%- include "about-me.md" -%}
        {% endmarkdown %}
      </p>
  </section>
    <section class="content">
        <span>[ about me ]</span>
    </section>
</main>
