<section class="about">
  <div class="about__header">
    <h3 class="about__title">about</h3>
    <span class="about__subtitle">[ hi, i'm lucas ]</span>
  </div>
  <div class="about__body">
    <div class="about__text">
      I'm a creative web developer and designer, building web solutions for
      businesses since 2022. I specialize in building visually pleasing and
      aesthetic web apps, from landing pages to full-stack web applications and
      e-commerce sites, all aimed at providing an excellent user experience. If
      you like what I do, feel free to shoot me a message down below!
    </div>
    <div class="about__blank"></div>
    <div class="about__roles">
      <ul>
        <li>
          <span>[</span>
          <span>full-stack developer</span>
          <span>]</span>
        </li>
        <li>
          <span>[</span>
          <span>mainly on frontend</span>
          <span>]</span>
        </li>
        <li>
          <span>[</span>
          <span>ui/ux designer</span>
          <span>]</span>
        </li>
      </ul>
    </div>
  </div>
</section>
