<section class="about">
  <div class="about__header">
    <h3 class="about__title">about</h3>
    <span class="about__subtitle">[ hi, i'm lucas ]</span>
  </div>
  <div class="about__body">
    <div class="about__text">
    As a freelance Full-Stack Developer, I am into the creation of fast and appealing web solutions. I excel in project man-
agement and communication, always delivering top-quality work in accordance with the expectations of the clients. I
have acquired skills in key technologies like React, but I still observe a framework-agnostic approach to make sure that
flexibility and adaptability are maintained for the projects at hand. I am always interested in learning new technologies
and following the latest industry trends in pursuit of business success through fresh and unique digital strategies.
    </div>
    <div class="about__blank"></div>
    <div class="about__roles">
      <ul>
        <li>
          <span>[</span>
          <span>full-stack developer</span>
          <span>]</span>
        </li>
        <li>
          <span>[</span>
          <span>ui/ux designer</span>
          <span>]</span>
        </li>
      </ul>
    </div>
  </div>
</section>
