<section class="contact">
  <div class="contact__header">
    <h3 class="contact__title">contact</h3>
  </div>
  <div class="contact__socials">
    <ul>
      <li>
        <a>
          <span>[ github ]</span>
        </a>
      </li>
      <li>
        <a>
          <span>[ email ]</span>
        </a>
      </li>
      <li>
        <a>
          <span>[ linkedin ]</span>
        </a>
      </li>
    </ul>
  </div>
</section>
