<section class="contact">
  <div class="contact__header">
    <h3 class="contact__title">contact</h3>
  </div>
  <div class="contact__socials">
    <ul>
      {% for contact in contact %}
        <li>
          <a target="_blank" href="{{ contact.link }}">{{ contact.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
