<nav class="footer">
  <ul>
    <li class="footer__title">[ Marish Lucas . 2024 ]</li>
    <li class="footer__designed">
      <a
        target="_blank"
        href="https://github.com/marishlucas/marishlucas.github.io"
      >
        Designed and built by me
      </a>
    </li>
    <li class="footer__back">back to top</li>
  </ul>
</nav>
