<nav class="footer">
  <ul>
    <li class="footer__title">[ Marish Lucas . 2024 ]</li>
    <li class="footer__designed">[ Designed and built by me ]</li>
    <li class="footer__back">[ back to top ]</li>
  </ul>
</nav>
