<header>
  <nav>
    <ul>
      {%- for entry in collections.all | eleventyNavigation %}
      <li>
        <a class="nav-link" href="{{entry.url}}">
          {{entry.key}}
        </a>
      </li>
      {%- endfor %}
    </ul>
  </nav>
</header>
