<header>
  <nav class="navbar">
    <p class="logo">lucas.</p>
    <ul>
      {% for contact in contact %}
        <li>
          <a target="_blank" href="{{ contact.link }}">{{ contact.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
