<header>
  <nav class="navbar">
    <p class="logo">lucas.</p>
    <ul>
      <li>
        <a>work</a>
      </li>
      <li>
        <a>about</a>
      </li>
      <li>
        <a>contact</a>
      </li>
    </ul>
  </nav>
</header>
