<section class="work">
  <div class="work__header">
    <h3 class="work__title">work</h3>
    <span class="work__subtitle">[ latest ]</span>
  </div>
  {% include "components/work-list.njk" %}
</section>
